<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <!--
    * v-for="item in items"
    배열이나 객체를 순회하며 리스트를 렌더링하는 디렉티브
    일반적인 범위 반복도 가능

    *v-for="(item, key, index) in items"
    객체를 순회하면서 각각의 value, key, index를 얻어오는 반복문
  -->
  <div id="step1">
    <p>{{items}}</p>
    <h4>배열 순회</h4>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
    <h4>template 태그를 이용해서 v-for 범위 지정 가능</h4>
    <ul>
      <template v-for="item in items">
        <li>{{item}}</li>
      </template>
    </ul>

    <h4>범위 반복</h4>
    <ul>
      <!-- n은 1부터 10이하까지 1씩 증가 -->
      <li v-for="n in 10">{{n}}</li>
    </ul>

    <h4>객체 반복</h4>
    <ul>
      <li v-for="(value, key, index) in profile">
        {{value}} / {{key}} / {{index}}
      </li>
    </ul>
  </div>

  <hr>
  <h2>:key 속성</h2>
  <pre>
    vue가 렌더링 된 요소 목록을 업데이트할 때,
    v-for는 반복된 DOM 요소 전체를 확인하게 됨.

    이 때, vue가 각 노드의 id를 추적할 수 있도록 힌트를 주고
    기존 요소를 재사용하여 순서를 변경함에 용이하게 하려면 key정보를 제공해야한다.

    결론: vue의 DOM 재사용 및 최적화를 위해 필요
  </pre>
  <div id="step2">
    <button @click="shuffle">순서 섞기</button>
    <ul>
      <!-- key가 없으면 input태그에 입력된 값은 변하지 않는다.
           값 변경이 있다고 감지 되지 않아서.
      -->
      <!-- key 속성은 식별되는 값(객체의 id)을 이용해야 함
           주의사항 : index 사용 XXXXXX
      -->
      <template v-for="item in testItems" :key="item.id">
        <li>{{item.name}} : <input type="text"></li>
      </template>
    </ul>
  </div>

  <script>
    const {createApp, ref, reactive} = Vue;

    createApp({
      name: 'v-for test app',
      setup(){
        const items = ref(['Pikachu', 'Magikarp', 'Feebas', 'Milotic', 'charizard']);

        const profile = reactive({
          name : '오리사',
          age : '1',
          address: '서울시 서초구'
        });

        return {items, profile};
      }
    }).mount('#step1');


    createApp({
      name: ":key test app",
      setup(){
        const testItems = ref([
          {id: 1, name: 'apple', state: true},
          {id: 2, name: 'banana', state: false},
          {id: 3, name: 'melon', state: true},
          {id: 4, name: 'orange', state: false},
        ]);

        const shuffle = () => {
          testItems.value.sort(() => Math.random() - 0.5);
        }

        return {testItems, shuffle};
      }
    }).mount("#step2");
  </script>
</body>
</html>